@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Zen+Kurenaido&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

#backtotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  color: #0984e3;
  z-index: 9;
  opacity: 0.8;
  background-color: #ffffff;
  display: none;
}


#backtotop:hover {
  color: darkblue;
}

#loader
{
    position: fixed;
    width:100%;
    height:100vh;
    background:#fff url("https://acegif.com/wp-content/uploads/loading-9.gif") no-repeat center;
    background-size: cover;
    z-index: 99999;
}



.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(53, 16, 16, 0.7)),
    url(../images/HomeBackground.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(0.2px);
}

.sidebar {
  width: 100vw;
  height: 70px;
  background-color: #0984e3;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.sidebar-part {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.Slider {
  width: 100vw;
  height: auto;
  background-color: #0984e3;
  position: fixed;
  top: -50%;
  transition: all 0.5s;
  z-index: 3;
}

.logoblock {
  display: flex;
  align-items: center;
}

.custom {
  height: 65px;
  width: auto;
  cursor: pointer;
  filter: invert(100%);
}

.menu {
  margin-left: 10px;
}

.menu li {
  list-style: none;
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  margin: 2px;
  display: block;
  font-family: "Dancing Script", cursive;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
}

.menu li:hover {
  background-color: #a54734;
}

.Icon {
  /* background-color: #4834d4; */
  background-color: #3867d6;
  border-radius: 50%;
  margin: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.Icon:hover {
  background-color: rgba(0, 0, 0, 0.548);
  color: #ffffff;
}

.Wh {
  width: 20px;
  background-color: brown;
  height: 50%;
}

.hero {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
#Naming {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 2px rgba(39, 22, 22, 0.548), 2px 2px 2px #ffffff;
}

.date {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
  font-weight: bolder;
}

p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
}
hr {
  width: 50%;
  margin: 10px auto;
  border: 1.5px solid white;
}

.updigit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Kaushan Script", cursive;
  /* font-family: 'Ephesis', cursive; */
}

.digit {
  /* background-color: #bb5844; */
  background-color: #0984e3;
  color: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 1.5rem;
  margin: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SubWhereAndWhen {
  /* border: 2px solid red; */
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px;
  transition: all 0.6s ease-in-out;
}

.SubWhereAndWhen2 {
  font-family: "Dancing Script", cursive;
}

.SubWhereAndWhen3 {
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}

.RSVP {
  padding: 10px;
}

.specialletter {
  font-size: 5rem;
}

.HeadingName {
  font-family: "Ephesis", cursive;
  font-size: 2.3rem;
  font-weight: bolder;
}

.ceremony-img {
  height: 350px;
}

.btn-custom {
  background-color: #0984e3;
  outline: none;
  border: none;
  transition: all 0.5s;
}

.btn-custom:hover {
  background-color: black;
  color: #ffffff;
}

.card-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
}

.gallery {
  margin-top: 50px;
}

.galleryheading {
  font-family: "Dancing Script", cursive;
  padding: 10px;
  font-size: 4rem;
  margin-bottom: 20px;
}

.gallery-img {
  margin: auto;
  text-align: center;
}

.gallery-img a img {
  transition: 1s;
  padding: 10px;
  width: 320px;
}

.gallery-img a img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.card {
  overflow: hidden;
}
.couple-img {
  transition: all 1s;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 500px;
  width: auto;
}

.couple-img:hover {
  transform: scale(1.05);
  filter: saturate(40%);
}

.EventAndParty {
  margin-top: 50px;
}

.EventsAndPartyHeading {
  font-family: "Dancing Script", cursive;
  padding: 10px;
  font-size: 4rem;
}

.EventAndParty-content {
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}

.Dinner-Party {
  height: auto;
  width: 70%;
  /* border: 2px solid black; */
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(34, 21, 219, 0.897),
    0 6px 20px 0 rgba(51, 119, 223, 0.19);
}

.Dinner-Party h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.container-progress {
  margin: 40px;
}

.container-progress ul {
  transition: all 0.2s linear;
}

.container-progress ul li {
  transition: all 0.5s linear;
}

.container-progress ul li span {
  transition: all 4s linear;
  font-size: 1.2rem;
}

.GIF-IMG {
  margin-top: 50px;
  background-image: url(../images/HomeBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.GIF-IMG img {
  height: 360px;
  width: auto;
  transition: all 1s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 8px #888888;
  /* animation: gif 4s infinite; */
}

@keyframes gif {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

.Accomodation {
  margin-top: 60px;
}

.Accomodation img {
  height: auto;
}

.Accomodation-heading {
  font-family: "Dancing Script", cursive;
  padding: 10px;
  font-size: 4rem;
  margin-bottom: 40px;
}

.Accomodation-Content {
  /* font-family: 'Zen Kurenaido', sans-serif; */
  font-weight: bolder;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.hotel-heading {
  font-weight: bolder;
  font-family: "Ephesis", cursive;
  font-size: 2.5rem;
  margin-top: 3px;
}

.sidebar-part a {
  text-decoration: none;
  color: black;
}

.RSVP {
  margin-top: 50px;
}

.RSVP .RSVP-heading {
  font-family: "Dancing Script", cursive;
  padding: 10px;
  font-size: 4rem;
  margin-bottom: 20px;
}

.RSVP .RSVP-Content {
  font-weight: bolder;
  font-family: "Roboto Condensed", sans-serif;
}

q {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

q:before {
  content: "❝";
  font-size: 2.2rem;
}

q:after {
  content: "❠";
  font-size: 2.2rem;
}

.form {
  margin-top: 70px;
}

.form-heading {
  padding: 10px;
  font-size: 2.5rem;
  /* margin-bottom: 20px;  */
  font-family: "Dancing Script", cursive;
}

#Credit {
  text-decoration: none;
  color: #ffffff;
}

footer {
  background-color: #0984e3;
  color: white;
  padding: 9px 20px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}
footer h5 {
  text-align: left;
  margin-bottom: 20px;
}
footer .footerlinks {
  display: block;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px;
}

footer .footerlinks a {
  text-decoration: none;
  color: #ffffff;
}
footer .footerlinks a:hover {
  color: black;
}

footer .footer-contact {
  text-align: left;
  margin: 10px;
  display: flex;
  margin-left: auto;
}
footer .footer-contact span a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-contact span a:hover {
  color: #d63031;
}
footer .footer-contact span:last-child {
  color: rgba(255, 255, 255, 0.5);
}

footer .footer-contact img {
  height: 30px;
  width: 30px;
}

footer .footer-socialcontact {
  text-align: left;
  margin: 10px;
  display: flex;
  margin-left: auto;
}
footer .footer-socialcontact img {
  height: 30px;
  width: 30px;
}

footer .footer-contact {
  text-align: left;
  margin: 10px;
  display: flex;
  margin-left: auto;
}

footer .footer-contact span {
  color: #ffffff !important;
}

footer .footer-contact span a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-contact span a:hover {
  color: black;
}

@media screen and (max-width: 450px) {
  .Dinner-Party {
    width: 100%;
  }
}
